.border-utils [class^="border"] {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f5f5f5;
}

.pill {
    display: inline-block;
    width: 10rem;
    height: 5rem;
    margin: .25rem;
    background-color: #f5f5f5;
}
.sm-square {
    width: 2em;
    height: 2em;
    background-color: #212529;
    border-radius: .25rem;
}

.class-card {
  max-width: 400px;
  min-height: 490px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
}


.class-card-tall {
  max-width: 400px;
  min-height: 690px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
}

// $box-shadow:                  0 .5rem 1rem rgba($black, .15);
// $box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
// $box-shadow-lg:               0 1rem 3rem rgba($black, .175);
// $box-shadow-inset:            inset 0 1px 2px rgba($black, .075);